.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    width: 100vw;
    padding: 20px;
  }
.product {
    
    width: 300px;
    margin: 10px;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
    cursor: pointer;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px;
    line-height: 30px;
    
    
  }
  
  .product:hover {
    background-color: #f0f0f0;
  }

  .img{
    height: 200px;
    width: 200px;
    background-color: rgb(205, 203, 203);
    /* margin-left: 15px; */
  }
  .addTocard{
    background-color: rgb(65, 65, 217);
  color: white;
  border-style: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  }